<section class="footer" id="contact">
  <div class="container">
    <div class="footer-grid">
      <a class="logo" href="/">
        <img class="logo-img" src="images/Logo-02.1.png" alt="image" />
      </a>
      <div class="adress-grid">
        <h3 class="title-footer">Adress</h3>
        <p class="paragraph-footer">Send us your portfolio and 3 Webflow work</p>
      </div>
      <div>
        <h3 class="title-footer">Social</h3>
        <div class="link-grid">
          <a href="">
            <span class="paragraph-social">Instagram</span>
          </a>
          <a href="">
            <span class="paragraph-social">Bihance</span>
          </a>
          <a href="">
            <span class="paragraph-social">TikTok</span>
          </a>
          <a href="">
            <span class="paragraph-social">Dribbble</span>
          </a>
          <a href="">
            <span class="paragraph-social">LinkedIn</span>
          </a>
          <a href="">
            <span class="paragraph-social">Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
