<section class="page-form">
  <div class="container">
    <div class="wrapper-form">
      <h2 class="title-form">It`s allmost here. Be among the first.</h2>
      <p class="text-form">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat doloremque earum culpa, numquam voluptatum corporis fugit omnis aperiam soluta architecto, natus dolorem vero dolores? Nisi voluptatum debitis alias ipsa rerum?</p>
    </div>

    <!-- form-block -->

    <form class="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

   
  </div>
</section>
