<section class="header">
  <div class="container">
    <nav class="nav">
        <a class="logo" href="/">
            <img class="logo-img" src="images/Logo-02.1.png" alt="image" />
          </a>
         
      
          <!-- <div class="menu-button">
            <div class="icon-nav-menu"></div>
          </div> -->
      
          <!-- menu -->
          <button
            class="menu-button "
            type="button "
            aria-expanded="false"
            aria-controls="menu-container"
            data-menu-button
          >
            <svg width="40" height="40" aria-label="Mobile menu switch">
              <use
                class="icon-cross"
                href="images/sprite/mobilemenu/sprite.svg#cross"
              ></use>
              <use
                class="icon-menu"
                href="images/sprite/mobilemenu/sprite.svg#menu"
              ></use>
            </svg>
          </button>

          <div class="menu-container" id="menu-container" data-menu>
            <nav class="nav-menu">
              <a href="" class="nav-link">Home</a>
              <a href="" class="nav-link">About</a>
              <a href="" class="nav-link">Contact</a>
              <a href="" class="nav-link sign-up">Sign up</a>
            </nav>
          </div>

    </nav>
    
  </div>

  <!--  -->
</section>
