<section class="hero" id="home">
    <div class="container">
        <div class="wrapper">
            <h1 class="title"> New project</h1>
            <p class="paragraph">
                Send us your portfolio and 3 Webflow work samples for review
If your application is approved, you’ll receive an 
            </p>

            <p class="paragraph">
                Send us your portfolio and 3 Webflow work samples for review
If your application is approved, you’ll receive an onboarding email into your inbox in the following 10 business days.
Your full nameYour Webflow account email address3 read-only links to your Webflow projects. Read: How to access your read-only link?
            </p>
        </div>

    </div>

</section>