.hero {
  background: linear-gradient(#000000, #3c3c3c);
  background-image:  url(../images/01.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 250px 0 40px 0;

}

.container {
    
    // max-width: 1200px;
    // // padding-bottom: 0;
    // padding: 0 20px;
    
}

.wrapper {
    // position: sticky;
    // display: block;
    // max-width: 500px;
  // min-height: 100%;
  // /* flex-direction: column; */
  // /* display: flex; */
  //
}

.title {
  font-weight: 100;
  color: #f6f6f6;
}

.paragraph {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 100;
  max-width: 500px;

  line-height: 1.4;

  color: #f6f6f6;
}
